C="Private_key"
WAGMI="Private_key"
PK="Private_key"
 CAPTCHA_SECRET="6LfD-dUhAAAAAKQIz_XoNdn9uRq-u84forhyUoOJ"
#CAPTCHA_SECRET="6LdVh8whAAAAAB_f0M2GqMz-8HbQC2ikSU0n0H5H" 
TOTPKEY="OF3WK4TUPF2WS2DKOU"
